<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Title of the document</title>
  </head>

  <body>
    <div id="wrapper">
    	<div id="primarynav" class="secondary-bg main-column-width"><h1>Craigslist</h1>
    		Primary nav</div>
    	<div id="content">
    		<div id="breadcrumb" class="secondary-bg">
    			<span id="page-title"><h2>Washington DC</h2></span>
	    		 <span id="breadcrumb-icon">></span>
	    		 <span class="subpage">DC</span><span class="subpage">NOVA</span><span class="subpage">MD</span>
	    	</div>
    		<div id="block-container">
	    		<div class="block"><h3>Community</h3>	    			<ul>
	    				<li>List item 1</li>
	    				<li>List item 2</li>
	    				<li>List item 3</li>
	    				<li>List item 4</li>
	    			</ul>

	    			<ul>
	    				<li>List item 1</li>
	    				<li>List item 2</li>
	    				<li>List item 3</li>
	    				<li>List item 4</li>
	    			</ul>
	    		</div>
	    		<div class="block"><h3>Personals</h3>	    	<ul>
	    				<li>List item 1</li>
	    				<li>List item 2</li>
	    				<li>List item 3</li>
	    				<li>List item 4</li>
	    			</ul>
				</div>
	    		<div class="block"><h3>Discussion</h3>	    	<ul>
	    				<li>List item 1</li>
	    				<li>List item 2</li>
	    				<li>List item 3</li>
	    				<li>List item 4</li>
	    				<li>List item 1</li>
	    				<li>List item 2</li>
	    				<li>List item 3</li>
	    				<li>List item 4</li>
	    				<li>List item 1</li>
	    				<li>List item 2</li>
	    				<li>List item 3</li>
	    				<li>List item 4</li>
	    			</ul>
				</div>
	    		<div class="block"><h3>Housing</h3>	    		<ul>
	    				<li>Listitem1Listitem1</li>
	    				<li>Listitem2Listitem2</li>
	    				<li>Listitem3Listitem3</li>
	    				<li>Listitem4Listitem4</li>
	    			</ul>
				</div>
	    		<div class="block"><h3>Jobs</h3>	    		<ul>
	    				<li>List item 1</li>
	    				<li>List item 2</li>
	    				<li>List item 3</li>
	    				<li>List item 4</li>
	    			</ul>
				</div>
	    		<div class="block"><h3>For Sale</h3>	    
	    			<ul>
	    				<li>List item 1</li>
	    				<li>List item 2</li>
	    				<li>List item 3</li>
	    				<li>List item 4</li>
	    			</ul>
				</div>
	    		<div class="block"><h3>I'm a block too</h3>
	      			<ul>
	    				<li>List item 1</li>
	    				<li>List item 2</li>
	    				<li>List item 3</li>
	    				<li>List item 4</li>
	    			</ul>
	    		</div>
	    		<div class="block"><h3>Services</h3>
	    			<ul>
	    				<li>List item 1</li>
	    				<li>List item 2</li>
	    				<li>List item 3</li>
	    				<li>List item 4</li>
	    			</ul>
				</div>
    		</div>
    	</div>
    	<div id="locations" class="secondary-bg main-column-width">Right nav</div>
	</div>
  </body>

</html>
