<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Title of the document</title>
	<link rel="stylesheet" type="text/css" href="styling.css">
  </head>

  <body>
    <div id="wrapper">
    	<div id="primarynav" class="secondary-bg main-column-width" class= "table"><h1>Craigslist</h1>
    		post to classified<br>
    		my account<br>
    		<br>
    		<br>
    		search craigslist<br>
    			<form action="processingscript.php" method="post">
    				 <input type="search" name="Search" value="Search">
				</form>
			<select>
  				<option value="Community">Community</option>
  				<option value="Events">Events</option>
  				<option value="Gigs">Gigs</option>
  				<option value="Housing">Housing</option>
			</select>
			<input id="go" type="submit" value=">"><br>
			event calendar<br>
			<table style= "width:5%" class="calendar">
				<tr class="days">
					<th>S</th>
					<th>M</th>
					<th>T</th>
					<th>W</th>
					<th>T</th>
					<th>F</th>
					<th>S</th>
				</tr>
				<tr>
					<td>1</td>
					<td>2</td>
					<td>3</td>
					<td>4</td>
					<td>5</td>
					<td>6</td>
					<td>7</td>
				</tr>
				<tr>
					<td>8</td>
					<td>9</td>
					<td>10</td>
					<td>11</td>
					<td>12</td>
					<td>13</td>
					<td>14</td>
				</tr>
			</table> <br>
		
			help,faq,abuse,legal<br>
			avoid scams & fraud<br>
			personal safety tips<br>
			terms of use<br>
			privacy policy<br>
			system status<br>
			<br>
			about craigslist<br>
			craigslist is hiring in sf<br>
			craigslist open source<br>
			craigslist blog<br>
			best-of-craigslist<br>
			craigslist TV<br>
			"craigslist joe"<br>
			craig connects<br>
    	</div>
    	<div id="content">
    		<div id="breadcrumb" class="secondary-bg" class="subpage">
    			<h2 class="subpage">Washington, DC</h2> 
	    		 <a class="subpage" href="/w/"title="W">w</a>
	    		 <a class="subpage" href="/doc/" title="district of columbia">doc</a>
	    		 <a class="subpage" href="/nva/" title="northern virginia">nva</a>
	    		 <a class="subpage" href="/md/" title ="maryland">mld</a>
	    		
	    
	    	</div>
    		<div id="block-container">
	    		<div class="block"><h3>Community</h3>	    			
	    			<ul>
	    				<li>item1</li>
	    				<li>item2</li>
	    				<li>item3</li>
	    				<li>item4</li>
	    			</ul>

	    			<ul>
	    				<li>item1</li>
	    				<li>item2</li>
	    				<li>item3</li>
	    				<li>item4</li>
	    			</ul>
	    		</div>
	    		<div class="block"><h3>Personals</h3>	    	<ul>
	    				<li>item1</li>
	    				<li>item2</li>
	    				<li>item3</li>
	    				<li>item4</li>
	    			</ul>
				</div>
	    		<div class="block"><h3>Discussion</h3>	    	<ul>
	    				<li>item1</li>
	    				<li>item2</li>
	    				<li>item3</li>
	    				<li>item4</li>
	    				<li>item1</li>
	    				<li>item2</li>
	    				<li>item3</li>
	    				<li>item4</li>
	    				<li>item1</li>
	    				<li>item2</li>
	    				<li>item3</li>
	    				<li>item4</li>
	    			</ul>
				</div>
	    		<div class="block"><h3>Housing</h3>	    		<ul>
	    				<li>Listitem1Listitem1</li>
	    				<li>Listitem2Listitem2</li>
	    				<li>Listitem3Listitem3</li>
	    				<li>Listitem4Listitem4</li>
	    			</ul>
				</div>
	    		<div class="block"><h3>Jobs</h3>	    		<ul>
	    				<li>item1</li>
	    				<li>item2</li>
	    				<li>item3</li>
	    				<li>item4</li>
	    			</ul>
				</div>
	    		<div class="block"><h3>For Sale</h3>	    
	    			<ul>
	    				<li>item1</li>
	    				<li>item2</li>
	    				<li>item3</li>
	    				<li>item4</li>
	    			</ul>
				</div>
	    		<div class="block"><h3>I'm a block too</h3>
	      			<ul>
	    				<li>item1</li>
	    				<li>item2</li>
	    				<li>item3</li>
	    				<li>item4</li>
	    			</ul>
	    		</div>
	    		<div class="block"><h3>Services</h3>
	    			<ul>
	    				<li>item1</li>
	    				<li>item2</li>
	    				<li>item3</li>
	    				<li>item4</li>
	    			</ul>
				</div>
    		</div>
    	</div>
    	<div id="locations" class="secondary-bg main-column-width">Right nav
    		<br><select>
  				<option value="english">english</option>
  				<option value="arabic">arabic</option>
  				<option value="spanish">spanish</option>
  				<option value="french">french</option>
  			</select>

	    	<div class="block5"><h5>nearby cl</h5> 
	    			<ul class="block6">
	    				<ol>allentown</ol>
	    				<ol>altoona</ol>
	    				<ol>annapolis</ol>
	    				<ol>baltimore</ol>
	    			</ul>
			</div>
		</div>
  </body>

</html>
