
body {
	font-size: 1em;
}

#wrapper {
	width:98%;
	margin: 0.3125em auto;

}
#primarynav {
	float:left;
	color:#0000CD;
	margin-right: 1em;
	text-align: center;
}
table.calendar {
	border-spacing: 0;
	border: 1px solid #ccc;
	border-left: 0;
	border-bottom: 0;
	margin-left: auto;
	margin-right: auto;

}
.calendar th, .calendar td{
	border: 1px #ccc solid;
	border-collapse: collapse;
    border-top:0;
    border-right:0;
}
.days {
	background-color: #ccc;



}
.secondary-bg {
	background-color: #f4f4f4;
	border: 1px solid #cccccc;
	border-top-width: 0;
	border-bottom-width: 0;
}
.main-column-width {
	width:160px;
}
#content {
	float:left;
	min-width:200px;
	max-width:560px;
	width:100%;
	display: block;
	text-align: center;
	
}
#locations {
	float:left;
	margin-left: 1em;
	text-align: center;
	
}
.block {
	float:left;
	width:175px;
	color:#0000CD
}
.block h3 {
	text-transform: lowercase;
	text-align:center;
}
.block li {
	float:left;
	min-width:65px;
	text-align: left;
}