
body {
	font-size: 1em;
	

}

#wrapper {
	width:200%;
	margin: 1em auto auto 100px;
	font-family:"times new roman", times, serif;
	
}
/*Colors for links*/
/* unvisited link */
a:link {
    color: #0000CD;}
/* visited link */
a:visited {
    color: #800080;}
/* mouse over link */
a:hover {
    color: #800080;}
/* selected link */
a:active {
    color: #0000FF;
}
#primarynav {
	float:left;
	color:#0000CD;
	margin-right: 1em;
	text-align: center;
	min-width:200px;
	max-width:560px;
	
}
table.calendar {
	border-spacing: 0;
	border: 1px solid #ccc;
	border-left: 0;
	border-bottom: 0;
	margin-left: auto;
	margin-right: auto;

}
.calendar th, .calendar td{
	border: 1px #ccc solid;
	border-collapse: collapse;
    border-top:0;
    border-right:0;
}
.days {
	background-color: #ccc;

}
.secondary-bg {
	background-color: #f4f4f4;
	border: 1px solid #cccccc;
	border-top-width: 0;
	border-bottom-width: 0;
}
.main-column-width {
	width:160px;
}
#content {
	float:left;
	min-width:200px;
	max-width:560px;
	width:100%;
	text-align: center;
	margin-right: 1em;
}
#breadcrumb, .subpage{
	display: inline-block;
	border-width: 1px; 
	margin: 0px 20px 1em;
	text-align: center;
	
}
#locations {
	float:left;
	margin-left: 1em;
	text-align: center;
	color:#0000CD;
	margin:4px;
	padding-left: auto;
	min-width:200px;
	max-width:560px;
	
}
.block5 h5{
	float:center;
	margin-bottom: auto;
	background-color: white

}	
.block6{
	float:left;
	text-align:left;
	padding-left:0;
  
}
.block {
	float:left;
	width:175px;
	color:#0000CD
}
.block h3 {
	text-transform: lowercase;
	text-align:center;
}
.block li {
	float:left;
	min-width:65px;
	text-align: left;
}